.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%,#474bff);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
     transform: rotate(1turn);
  }
}

  .otp-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
 }

<<<<<<< HEAD
 body{
  overflow-x: hidden;
 }
=======
 @media(max-width: 768px){
  .status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .status-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .status-name{
    align-items: center;
  }
 }

 @media(max-width:768px){
  .status-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
 }
>>>>>>> d86f17ddb991fb1c1ca12449fa13f858ccb2bfd6
