.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%,#474bff);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
     transform: rotate(1turn);
  }
}

  .otp-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
 }

 @media(max-width:1024px){
 body{
  overflow-x: hidden;
 }}
 @media(max-width: 768px){
  .status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .status-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .status-name{
    align-items: center;
  }
  .status_main{
    display: flex;
    flex-direction: column;
   }
 }
 


@media(max-width:1024px){
  .profile_div{
    display: flex;
    flex-direction: column;
  }
  
}

.container{
  scale: 0;
}
.active{
  scale:1;
 transition:all;
 transition-duration: 0.6s; 
}
.overlay {
  background-color: #5f5f5f83; 
}



